**/.ipynb_checkpoints
**/.ipython
**/.jupyter
**/.local
**/.npm
**/.cache
**/.DS_Store
*/.DS_Store
**/*correction.ipynb
MES_TP/*
chap7*/
chap8*/
chap9*/
support/*
notes/*
!.gitkeep
docker/mongodb/spotify.json
